$color-gray-50: #FAFAFA;
$color-gray-100: #F5F5F5;
$color-gray-200: #EEEEEE;
$color-gray-300: #E0E0E0;
$color-gray-400: #BDBDBD;
$color-gray-500: #9E9E9E;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;

$_color-1: #f15c3e;
$_color-1-50: #fdebe8;
$_color-1-100: #fbcec5;
$_color-1-200: #f8ae9f;
$_color-1-300: #f58d78;
$_color-1-400: #f3745b;
$_color-1-500: #f15c3e;
$_color-1-600: #ef5438;
$_color-1-700: #ed4a30;
$_color-1-800: #eb4128;
$_color-1-900: #e7301b;

$_color-2: #00aeb8;
$_color-2-50: #e0f5f6;
$_color-2-100: #b3e7ea;
$_color-2-200: #80d7dc;
$_color-2-300: #4dc6cd;
$_color-2-400: #26bac3;
$_color-2-500: #00aeb8;
$_color-2-600: #00a7b1;
$_color-2-700: #009da8;
$_color-2-800: #0094a0;
$_color-2-900: #008491;

$_color-3: #f8991c;
$_color-3-50: #fef3e4;
$_color-3-100: #fde0bb;
$_color-3-200: #fccc8e;
$_color-3-300: #fab860;
$_color-3-400: #f9a83e;
$_color-3-500: #f8991c;
$_color-3-600: #f79119;
$_color-3-700: #f68614;
$_color-3-800: #f57c11;
$_color-3-900: #f36b09;

$_color-4: #1b1e63;
$_color-4-50: #e4e4ec;
$_color-4-100: #bbbcd0;
$_color-4-200: #8d8fb1;
$_color-4-300: #5f6292;
$_color-4-400: #3d407a;
$_color-4-500: #1b1e63;
$_color-4-600: #181a5b;
$_color-4-700: #141651;
$_color-4-800: #101247;
$_color-4-900: #080a35;

$_color-5: #1c70f2;
$_color-5-50: #e4eefd;
$_color-5-100: #bbd4fb;
$_color-5-200: #8eb8f9;
$_color-5-300: #609bf6;
$_color-5-400: #3e85f4;
$_color-5-500: #1c70f2;
$_color-5-600: #1968f0;
$_color-5-700: #145dee;
$_color-5-800: #1153ec;
$_color-5-900: #0941e8;

$_color-6: #c32126;
$_color-6-50: #f8e4e5;
$_color-6-100: #edbcbe;
$_color-6-200: #e19093;
$_color-6-300: #d56467;
$_color-6-400: #cc4247;
$_color-6-500: #c32126;
$_color-6-600: #bd1d22;
$_color-6-700: #b5181c;
$_color-6-800: #ae1417;
$_color-6-900: #a10b0d;

$_color-7: #208642;
$_color-7-50: #e4f0e8;
$_color-7-100: #bcdbc6;
$_color-7-200: #90c3a1;
$_color-7-300: #63aa7b;
$_color-7-400: #41985e;
$_color-7-500: #208642;
$_color-7-600: #1c7e3c;
$_color-7-700: #187333;
$_color-7-800: #13692b;
$_color-7-900: #0b561d;


// Brand Colors
$color-brand-1-light: $_color-1-50;
$color-brand-1: $_color-1;
$color-brand-1-dark: $_color-1-800;

$color-brand-2-light: $_color-2-50;
$color-brand-2: $_color-2;
$color-brand-2-dark: $_color-2-800;

$color-brand-3-light: $_color-3-50;
$color-brand-3: $_color-3;
$color-brand-3-dark: $_color-3-800;

$color-brand-4-light: $_color-4-50;
$color-brand-4: $_color-4;
$color-brand-4-dark: $_color-4-800;

// Action Colors
$color-cta-light: $_color-5-50;
$color-cta: $_color-5;
$color-cta-dark: $_color-5-800;

$color-error-light: $_color-6-50;
$color-error: $_color-6;
$color-error-dark: $_color-6-800;

$color-active-light: $_color-5-50;
$color-active:  $_color-5;
$color-active-dark: $_color-5-800;

$color-success-light: $_color-7-50;
$color-success: $_color-7;
$color-success-dark: $_color-7-800;

$color-warning-light: $_color-3-50;
$color-warning: $_color-3;
$color-warning-dark: $_color-3-800;

// Fonts
$color-font: $color-gray-800;

// General
$color-background: $color-gray-100;
$color-link: $_color-5-400;