$spacing-step: 4px;
$spacing-level-0:  #{$spacing-step * 0};
$spacing-level-1:  #{$spacing-step * 1};
$spacing-level-2:  #{$spacing-step * 2};
$spacing-level-3:  #{$spacing-step * 3};
$spacing-level-4:  #{$spacing-step * 4};
$spacing-level-5:  #{$spacing-step * 5};
$spacing-level-6:  #{$spacing-step * 6};
$spacing-level-7:  #{$spacing-step * 7};
$spacing-level-8:  #{$spacing-step * 8};
$spacing-level-9:  #{$spacing-step * 9};
$spacing-level-10: #{$spacing-step * 10};
$spacing-level-11: #{$spacing-step * 11};
$spacing-level-12: #{$spacing-step * 12};
$spacing-level-13: #{$spacing-step * 14};
$spacing-level-14: #{$spacing-step * 16};
$spacing-level-15: #{$spacing-step * 18};
$spacing-level-16: #{$spacing-step * 36};
