.panel {
    position: relative;
    background: #FFFFFF;
    color: black;
    // box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.12);
    box-shadow: 0 15px 38px -16px rgba(12,0,51,0.18);
    border-radius: 6px;
    padding: 40px 10px;
    width: 90%;
    margin: 0 auto 56px;

    @media (min-width: $breakpoint-tablet) {
        width: 100%;
        padding: 30px 10px;
    }
    
    @media (min-width: $breakpoint) {
        margin: 0 0 56px;
        padding: 50px 20px;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 15px 38px -16px rgba(12,0,51,0.18);
    }
}