.margin-bottom-level-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-level-1 {
    margin-bottom: $spacing-level-1 !important;
}

.margin-bottom-level-2 {
    margin-bottom: $spacing-level-2 !important;
}

.margin-bottom-level-3 {
    margin-bottom: $spacing-level-3 !important;
}

.margin-bottom-level-4 {
    margin-bottom: $spacing-level-4 !important;
}

.margin-bottom-level-5 {
    margin-bottom: $spacing-level-5 !important;
}

.margin-bottom-level-6 {
    margin-bottom: $spacing-level-6 !important;
}

.margin-bottom-level-7 {
    margin-bottom: $spacing-level-7 !important;
}

.margin-bottom-level-8 {
    margin-bottom: $spacing-level-8 !important;
}

.margin-bottom-level-9 {
    margin-bottom: $spacing-level-9 !important;
}

.margin-bottom-level-10 {
    margin-bottom: $spacing-level-10 !important;
}
